/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
  height: 70px;
  padding: 0 4.8rem;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
}

.nav-title {
  font-size: 3rem;
  font-family: var(--font-mono);
  font-style: italic;
  color: var(--light-slate);
  margin-left: 2rem;
}
.nav-title span {
  color: var(--green);
}
.logo {
  height: 2.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  margin-bottom: 0;
}
.main-nav-list a {
  animation: fadeInDown;
  animation-duration: 1s;
}
.main-nav-list span {
  color: var(--green);
  padding-right: 0.5rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-family: var(--font-mono);
  color: var(--lightest-slate);
  font-weight: 400;
  font-size: 1.4rem;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--green);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--green);
  font-size: 3.5rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  /* background-color: var(--navy); */
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(4px) !important;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}
/**************************/
/* LANDING PAGE */
/**************************/
.landing-content {
  display: flex;
}
.social-left {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: var(--light-slate);
  height: 100vh;
}
.social-left ul {
  padding: 2rem;
}
.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  position: fixed;
}
.social-icons:after {
  content: "";
  display: block;
  width: 1.5px;
  height: 23rem;
  margin: 0 auto;
  background-color: var(--light-slate);
}
.social-icon {
  font-size: 2.2rem;
  padding: 1rem;
  transition: var(--transition);
}
.social-icon:hover {
  transform: translateY(-4px);
}
.social-icon a {
  color: inherit;
}
.social-icon a:hover {
  color: var(--green);
}
.main-content {
  /* display: flex;
    flex-direction: column; */
}
.mail-right {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: var(--light-slate);
  height: 100vh;
  transition: var(--transition);
}
.mail-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  position: fixed;
}
.mail-right a {
  writing-mode: vertical-rl;
  padding: 2rem;
  font-family: var(--font-mono);
  font-size: 1.2rem;
  line-height: 1rem;
  letter-spacing: 0.2rem;
  /* margin-bottom: 2rem; */
  color: var(--light-slate);
  transition: var(--transition);
}
.mail-right a:hover {
  color: var(--green);
  transform: translateY(-4px);
}
.mail-text::after {
  content: "";
  display: block;
  width: 1.5px;
  height: 25rem;
  margin: 0 auto;
  background-color: var(--light-slate);
}
.section-margin {
  margin: 0 100px 100px;
  position: relative;
  overflow: hidden;
}
.landing-text {
  font-size: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heading-hi {
  display: flex;
  color: var(--green);
  font-size: 1.6rem;
  font-family: var(--font-mono);
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
.wave-emoji {
  font-size: 1.7rem;
  display: inline-block;
  animation-name: wave;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-12deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.heading-name {
  font-size: clamp(30px, 6vw, 70px);
  font-family: var(--font-sans);
  font-weight: 700;
  color: var(--lightest-slate);
  line-height: 1.1;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  text-shadow: red 0 0, cyan 0 0;
  transition: var(--transition);
}
/* .heading-name:hover {
  text-shadow: red -3px 0, cyan 3px 0;
} */
.heading-position {
  font-size: clamp(30px, 6vw, 70px);
  font-family: var(--font-sans);
  font-weight: 700;
  color: var(--slate);
  margin-bottom: 2rem;
}
.heading-about {
  max-width: 780px;
  font-size: 1.8rem;
  color: var(--slate);
  line-height: 3.2rem;
  font-weight: 400;
  font-family: var(--font-sans);
}
.hoverEffect {
  color: var(--green);
  display: inline-block;
  margin: 0;
  z-index: -1;
}
.hoverEffect:hover {
  color: var(--green);
}
.hoverEffect:after {
  display: block;
  content: "";
  border-bottom: solid 1px var(--green);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.hoverEffect:hover:after {
  transform: scaleX(1);
}
.hoverEffect.fromRight:after {
  transform-origin: 100% 50%;
}
.hoverEffect.fromLeft:after {
  transform-origin: 0% 50%;
}

/**************************/
/* ABOUT US  */
/**************************/

.aboutus-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-bottom: 200px; */
}
.aboutus-content {
  display: flex;
  margin-top: 2rem;
}
.about-img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.about-image {
  /* height: 25rem; */
  width: 75%;
  margin: 0 1rem;
  border-radius: 6px;

}
.about-image img {
  border-radius: 6px;
}
.about-img img::after {
  /* content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    border: 2px solid red; */
}
.timeline {
  padding: 0 !important;
}
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline li a {
  font-size: 1.7rem;
  font-weight: 600;
}
ul.timeline li p {
  padding: 0.3rem 0 !important;
  margin: 0 !important;
  font-size: 1.3rem !important;
  font-family: var(--font-sans);
}
ul.timeline:before {
  content: " ";
  background: var(--lightest-navy);
  display: inline-block;
  position: absolute;
  left: 7px;
  width: 1px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 15px 0;
  padding-left: 30px;
}
ul.timeline > li:before {
  content: " ";
  background: var(--lightest-navy);
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--green);
  left: 0;
  width: 15px;
  height: 15px;
  z-index: 400;
}

.about-technoligies {
  display: flex;
  /* justify-content: space-between; */
}
.about-technoligies ul {
  margin-right: 7rem;
  list-style: none;
  padding: 0;
}
.about-technoligies li {
  color: var(--light-slate);
  font-family: var(--font-sans);
  font-size: 1.4rem;
  font-weight: 400;
}
.about-technoligies li::before {
  content: "▹";
  margin-right: 1rem;
  color: var(--green);
}
/**************************/
/* WORK DETAILS  */
/**************************/
.wrk-histroy {
  color: var(--lightest-slate);
  position: relative;
  bottom: 10px;
}

.wrk-experience {
  font-size: 1.6rem;
  font-weight: 400;
}
.wrk-timeline {
  padding: 0 !important;
}
ul.wrk-timeline {
  list-style-type: none;
  position: relative;
}
ul.wrk-timeline li a {
  font-size: 1.7rem;
  font-weight: 600;
  font-size: 2rem;
}
ul.wrk-timeline li p {
  padding: 0.3rem 0 !important;
  margin: 0 !important;
  font-size: 2.2rem !important;
  font-family: var(--font-sans);
  font-weight: 600;
}

ul.wrk-timeline:before {
  content: " ";
  background: var(--lightest-navy);
  display: inline-block;
  position: absolute;
  left: 9px;
  width: 1.5px;
  height: 100%;
  z-index: 400;
}
ul.wrk-timeline > li {
  margin: 15px 0;
  padding-left: 50px;
}
ul.wrk-timeline > li:before {
  content: " ";
  background: var(--lightest-navy);
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--green);
  left: 0;
  width: 20px;
  height: 20px;
  z-index: 400;
}
.wrk-description {
  margin-top: 1rem;
}
.wrk-description ul {
  list-style: none;
  font-size: 1.7rem;
  padding: 0;
  display: inline-block;
}
.wrk-description li {
  padding-bottom: 10px;
  display: flex;
}
.wrk-description li::before {
  content: "▹";
  margin-right: 2rem;
  color: var(--green);
}

/* .nav-pills{
    font-size: 1.6rem;
}
.nav-pills .nav-link{
    padding: 10px 20px;
    align-items: left;
    color: var(--light-slate);
    text-align: left;
    font-weight: 300;
    border-radius: 0 !important;
    border-left: 2px solid var(--light-slate) !important;
    transition: var(--transition);
}
.nav-pills .nav-link:hover{
    color: var(--green) !important;
    background-color: var(--lightest-navy) !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: var(--green) !important;
    background-color: var(--lightest-navy) !important;
    border-left: 3px solid var(--green) !important;
    font-weight: 400 !important;
} */

/**************************/
/* PROJECT DETAILS  */
/**************************/
.project-contentlft {
  display: flex;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}
.project-imglft {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center !important;
}
.project-imglft img {
  border-radius: 0.8rem;
  align-items: center;
  width: 100%;
  height: 90%;
  background-color: var(--green);
}
.project-detailslft {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.heading-featuredlft {
  color: var(--green);
  font-family: var(--font-mono);
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.heading-projectlft {
  color: var(--lightest-slate);
  font-family: var(--font-sans);
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.project-descriptionlft {
  font-size: 1.5rem;
  font-family: var(--font-sans);
  width: 110%;
  padding: 2rem 1rem;
  background-color: var(--light-navy);
  border-radius: 4px;
  z-index: 11;
}
.project-languageslft {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.project-languageslft ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 1.4rem;
  font-family: var(--font-mono);
  color: var(--lightest-slate);
  flex-wrap: wrap;
}
.project-languageslft li {
  margin: 0px 0px 10px 20px;
}
.project-linklft {
  font-size: 2rem;
  color: var(--light-slate);
  padding-left: 2rem;
}
.project-linklft:hover {
  color: var(--green);
}

.project-contentrht {
  display: flex;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}
.project-imgrht {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center !important;
}
.project-imgrht img {
  border-radius: 0.8rem;
  align-items: center;
  width: 100%;
  height: 90%;
  background-color: var(--green);
}
.project-detailsrht {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.heading-featuredrht {
  color: var(--green);
  font-family: var(--font-mono);
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.heading-projectrht {
  color: var(--lightest-slate);
  font-family: var(--font-sans);
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.project-descriptionrht {
  font-size: 1.5rem;
  font-family: var(--font-sans);
  width: 110%;
  padding: 2rem 1rem;
  background-color: var(--light-navy);
  border-radius: 4px;
  z-index: 11;
}
.project-languagesrht {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.project-languagesrht ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-mono);
  color: var(--lightest-slate);
  flex-wrap: wrap;
}
.project-languagesrht li {
  margin: 0px 20px 10px 0px;
}
.project-linkrht {
  font-size: 2rem;
  color: var(--light-slate);
  padding-right: 2rem;
}
.project-linkrht:hover {
  color: var(--green);
}
.prj-img {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(100, 255, 218, 0.4);
  border-radius: 0.8rem;
  transition: var(--transition);
}
.overlay:hover {
  background-color: transparent;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-smallHeading {
  color: var(--green);
  font-family: var(--font-mono);
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.contact-bigHeading {
  font-size: clamp(30px, 5vw, 50px);
  color: var(--lightest-slate);
  font-weight: 700;
  line-height: 1.1;
  font-family: var(--font-sans);
  margin-bottom: 2rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.footer-text {
  font-size: 1.2rem;
}
.footer ul {
  display: none;
  list-style: none;
}
.footer-socialIcons {
  margin-bottom: 2rem;
}
.footer-socialIcon a {
  font-size: 2.5rem;
  color: var(--light-slate);
  margin: 0 15px 10px;
  transition: var(--transition);
}
.footer-socialIcon a:hover {
  color: var(--green);
}
